body {
  background-color: #dbeceb;
}
header {
  height: 100px;
}
.navLogo {
  color: #222;
}
.topNav a {
  color: #222;
}
.about-content {
  padding: 10% 10%;
  display: flex;
}
.text {
  width: 50%;
}
.text p {
  font-size: 1.2rem;
}
.visuals {
  width: 40%;
}
h1 {
  margin-bottom: 20px;
  font-size: 3.7rem;
  font-weight: 500;
  max-width: 700px;
  color: #222;
}
