a.nav-logo {
  color: #222222;
}

li.nav-item {
  list-style: none;
}

a.nav-link {
  color: #222222;
}
a.nav-link:hover {
  color: #222222;
}

.bar {
  background-color: #222222;
}
header.blog {
  margin-top: 5vh;
  margin-bottom: 3vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
h1 {
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 500;
}
.blog .categories {
  margin-top: 2rem;
}
.blog .categories .category {
  font-size: 0.9rem;
  padding: 6px 16px;
  font-weight: 400;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  color: #22222281;
}
.blog .categories .category:hover {
  background-color: #c5d9ff70;
  color: #246ef8;
}

.container {
  margin: 0px 10% 10px 10%;
  padding-bottom: 5px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 34px;
  row-gap: 30px;
}

.container .item {
  border-radius: 10px;
  height: 300px;
  min-width: 360px;
  max-width: 360px;
  margin: 0 1px 0px 0;
  padding-bottom: 20px;
  text-decoration: none;
}

.container .item img {
  width: 360px;
  height: 220px;
  border-radius: 10px;
}

.item .title {
  padding: 5px 2px;
}

.item .title p {
  font-weight: 400;
  font-size: 1rem;
  color: #222;
}
button.more-button {
  position: absolute;
  color: #22222281;
  font-weight: 400;
  font-size: 0.9rem;
  width: 120px;
  margin-left: 45vw;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
}
button.more-button:hover {
  background-color: #c5d9ff70;
  color: #246ef8;
  padding: 8px 16px;
  transition: ease 0.5s;
}

footer {
  padding-top: 25vh;
}

.loader {
  margin: 5vh auto 20vh auto;
  border: 15px solid #246ef820;
  border-top: 15px solid #246ef8;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  header.blog {
    margin-top: 5vh;
    margin-bottom: 3vh;
  }
  h1 {
    margin-bottom: 20px;
    font-size: 2.2rem;
  }
  .blog .categories {
    margin: 1rem 0;
  }
  .blog .categories a {
    font-size: 0.9rem;
    padding: 0px 10px;
    font-weight: 300;
  }
  .container {
    margin: 0px 5% 10px 5%;
    padding-bottom: 5px;
    height: auto;
    align-items: center;
    row-gap: 5px;
  }
  .container .item {
    height: 300px;
    max-width: 90vw;
    margin: auto auto;
  }
  .container .item img {
    width: 90vw;
  }
  button.more-button {
    margin-left: 5vw;
  }
  footer {
    padding-top: 10vh;
  }
}
