body {
  background-color: #f7f4f4;
  overflow-x: hidden;
}
a.nav-logo {
  color: #222222;
}

li.nav-item {
  list-style: none;
}

a.nav-link {
  color: #222222;
}
a.nav-link:hover {
  color: #222222;
}
.bar {
  background-color: #222222;
}

header.contact {
  height: auto;
  text-align: center;
  margin: auto auto;
}

h1 {
  padding-top: 5vh;
  margin-bottom: 30px;
  font-size: 3rem;
  font-weight: 500;
}
p {
  font-size: 1.2rem;
  max-width: 650px;
  margin: auto auto;
  font-weight: 400;
}
.container {
  padding: 4% 2%;
  margin: 10vh auto 0 auto;
  max-width: 66%;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #22222221;
  justify-content: center;
}
#contactForm {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 5%;
  justify-content: space-between;
}
label {
  clear: both;
  width: 100%;
  margin-top: 1.8rem;
  font-size: 0.9rem;
  color: rgb(104, 104, 112);
}
input {
  width: 100%;
  margin-top: 0.8rem;
  padding: 10px;
  font-size: 16px;
  border: 2px solid rgb(222, 225, 228);
  border-radius: 5px;
}

::placeholder {
  font-size: 0.9rem;
}
:-ms-input-placeholder {
  font-size: 0.9rem;
}

.nameInput,
.emailInput {
  width: 48%;
}

.subjectInput,
.messageInput {
  width: 100%;
}
textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid rgb(222, 225, 228);
  border-radius: 5px;
  resize: none;
  margin-top: 0.8rem;
}
.illustration {
  height: 100px;
  width: 50%;
}

button {
  background-color: #246ef8;
  width: 150px;
  padding: 0.6rem;
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px auto 0 auto;
}
button:hover {
  background-color: #0b5df5;
}
@media (max-width: 768px) {
  .nameInput,
  .emailInput {
    width: 100%;
  }
}
@media (max-width: 428px) {
  h1 {
    font-size: 2.2rem;
  }
  p {
    width: 90%;
    font-size: 1.2rem;
  }
  .container {
    max-width: 90%;
    padding: 5% 3%;
  }
}
