body {
  padding: 0%;
  margin: 0;
}
a.nav-logo {
  color: #222222;
}

li.nav-item {
  list-style: none;
}

a.nav-link {
  color: #222222;
}

.bar {
  background-color: #222222;
}

.breadcrumbs {
  margin-left: 10%;
  margin-top: 5vh;
}
.breadcrumbs a {
  font-size: 1rem;
  text-decoration: none;
  color: #4542ff;
}

h1 {
  padding: 0;
  margin-bottom: 20px;
  margin-top: 3%;
  font-size: 3rem;
  font-weight: 500;
  max-width: 700px;
  color: #222;
}

.postDetails {
  margin-left: -20px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.postDetails a {
  font-size: 1rem;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 300;
  color: rgb(131, 131, 131);
  border-right: solid 0.8px rgb(180, 180, 180);
  letter-spacing: 1px;
}
.postDetails a span {
  font-weight: 400;
  color: #222;
}
a.categoryTag {
  background-color: #cfdcf0;
  color: #222;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.9rem;
  margin-left: 20px;
  border-right: none;
}

main {
  margin: 3% 0;
}
.container {
  width: 75vw;
  margin: auto auto;
}
picture {
  display: block;
  background-color: rgb(197, 194, 191);
  margin: 0px 10%;
  height: 50vh;
  border-radius: 15px;
}
.text {
  margin: 5% 10%;
  font-weight: 400;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.2rem;
    margin-top: 5vh;
  }
  .postDetails {
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  .postDetails a {
    font-size: 0.9rem;
    display: block;
    margin: 15px 2px;
    padding: 0;
    border: none;
  }
  a.categoryTag {
    padding: 5px 10px;
    width: fit-content;
  }
  main header {
    margin: 0 5vw;
  }
  .container {
    width: 100vw;
  }
  picture {
    height: 25vh;
    margin: 0;
    border-radius: 0;
  }
}
