body {
  padding: 0%;
  margin: 0;
}
header {
  height: 100px;
}
.navLogo {
  color: #222;
}
.topNav a {
  color: #222;
}
.topNav a:hover {
  color: #222;
}
.breadcrumbs {
  margin-left: 10%;
}
.breadcrumbs a {
  font-size: 1rem;
  text-decoration: none;
}
.breadcrumbs a.active {
  color: #4542ff;
}
ul {
  list-style: none;
  display: inline;
}
h1 {
  padding: 0;
  margin-bottom: 20px;
  margin-top: 5%;
  font-size: 3rem;
  font-weight: 500;
  max-width: 700px;
  color: #222;
}

.postDetails {
  margin-left: -20px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.postDetails a {
  font-size: 1rem;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 300;
  color: rgb(131, 131, 131);
  border-right: solid 0.8px rgb(180, 180, 180);
  letter-spacing: 1px;
}
.postDetails a span {
  font-weight: 400;
  color: #222;
}
a.categoryTag {
  background-color: #cfdcf0;
  color: #222;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 3px;
  font-size: 0.9rem;
  margin-left: 20px;
  border-right: none;
}

main {
  margin: 3% 0;
}
main header {
  height: auto;
  margin-bottom: 60px;
}
picture {
  display: block;
  background-color: rgb(197, 194, 191);
  margin: 0px 10%;
  height: 600px;
  border-radius: 15px;
}
.text {
  margin: 5% 10%;
  font-weight: 400;
}
