@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  color: #222222;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #f3f3f3;
}

header,
.herotop,
.information {
  padding: 0 10%;
}

header {
  background-color: transparent;
}

a.nav-logo {
  text-decoration: none;
  font-family: Quicksand;
  font-weight: 600;
  font-size: 1.5rem;
  color: #222;
}

li.nav-item {
  list-style: none;
}

a.nav-link {
  font-size: 1.1rem;
  text-decoration: none;
  color: #222;
  padding: 8px 16px;
  border-radius: 20px;
}
a.nav-link.active {
  background-color: #c5d9ff70;
  color: #246ef8;
}
a.nav-link:hover {
  color: #246ef8;
  background-color: #c5d9ff70;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: 0.2s ease;
}

.navbar {
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.hamburger {
  display: none;
  cursor: pointer;
  width: 25px;
  position: absolute;
  top: 25px;
  right: 5%;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
  border-radius: 20px;
}

.herotop {
  background-image: url(../images/herotop.jpg);
  background-size: cover;
  background-position: 50% 25%;
  height: 65vh;
  margin: 0 5%;
  border-radius: 20px;
  padding: 0 5%;
}
.herotop h1 {
  margin: 0;
  padding-top: 18vh;
  font-size: 3.5rem;
  font-weight: 500;
  max-width: 700px;
  color: white;
}
.herotop p {
  font-size: 1.5rem;
  color: white;
  padding: 15px 1px;
  margin-bottom: 20px;
  font-weight: 300;
}

.cta {
  color: white;
  font-size: 1rem;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  background-color: #246ef8;
}
.cta:hover {
  background-color: #0b5df5;
  transition: ease-in 0.1s;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
h2 span {
  float: right;
}
h2 span a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}

.latestPosts {
  padding-top: 7vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.latestPosts p button {
  cursor: pointer;
  margin: 0 2px;
  display: inline-block;
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
}
.latestPosts p button img {
  border-radius: 5px;
  padding: 5px;
}
.latestPosts p button img:hover {
  background-color: rgb(221, 227, 255);
}

.slider {
  margin: 10px 10% 10px 10%;
  padding-bottom: 20px;
  height: 320px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  gap: 35px;
  scroll-behavior: smooth;
  transition: ease 0.8s;
}

.slider .item {
  border-radius: 20px;
  height: 250px;
  min-width: 260px;
  max-width: 260px;
  margin: 0 1px 0px 0;
  padding-bottom: 20px;
  text-decoration: none;
}
.item:hover {
  transition: ease-in-out 0.3s;
}
.item:hover .title p {
  padding-left: 5px;
  transition: ease 0.3s;
}
.item:hover .title div {
  transition: ease-in 0.2s;
  display: inline-block;
}
.item:hover img {
  backdrop-filter: blur(2px);
  filter: blur(0.8px) opacity(0.9);
  transition: 0.5s ease-in-out;
}
.item .title {
  padding: 5px 2px;
  display: inline-flex;
}
.item .title p {
  font-weight: 400;
  font-size: 0.9rem;
}
.title div {
  color: #246ef8;
  transition: 0.2s ease;
  display: none;
  margin-right: 5px;
}

.slider .item img {
  width: 260px;
  height: 170px;
  border-radius: 10px;
}

.information {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.information .newsletter {
  background-color: #c5d9ff;
  border-radius: 15px;
  padding: 50px 50px;
  height: fit-content;
  width: 100%;
  margin: auto;
}
.newsletter div {
  padding-top: 2%;
}
.newsletter form {
  display: flex;
  justify-content: space-between;
}
.information h2 {
  color: #222;
}
.newsletter p {
  padding: 5px 0;
  color: #222;
}
.newsletterInput {
  border: 1.5px solid white;
  border-radius: 7px;
  padding: 8px 10px;
  margin-right: 5px;
}
.information button {
  background-color: #246ef8;
  color: white;
  padding: 8px 15px;
  border-radius: 7px;
  border: none;
  font-weight: 400;
}
.information button:hover {
  background-color: #0b5df5;
}
.form-error {
  display: none;
  color: rgb(255, 63, 49);
  font-size: 0.8rem;
  padding: 5px 2px;
}

input:focus {
  outline: none;
  border: 1.5px solid #246ef8;
}
textarea:focus {
  outline: none;
  border: 1.5px solid #246ef8;
}

input:focus::placeholder {
  color: rgb(133, 133, 136);
}

textarea:focus::placeholder {
  color: rgb(133, 133, 136);
}

footer {
  display: flex;
  padding: 7% 10% 3% 10%;
  justify-content: space-between;
}

footer div {
  display: inline-flex;
  gap: 25px;
}

footer p {
  font-size: 1rem;
  font-weight: 300;
}

footer a {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: #222222;
}

@media (max-width: 768px) {
  header,
  .herotop,
  .information,
  footer {
    padding: 0 5%;
  }
  .navbar {
    min-height: 80px;
  }
  a.nav-logo {
    color: white;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 80px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 90vw;
    transition: 0.3s;
    padding: 20px 20px;
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #2222222a;
  }
  .nav-item {
    margin: 16px 8px;
    color: #222222;
  }
  a.nav-link {
    color: #222222;
  }
  a.nav-link.active {
    border-bottom: none;
    color: #246ef8;
  }
  a.nav-link:hover {
    color: #222222;
  }
  .nav-menu.active {
    left: 5vw;
  }
  .herotop h1 {
    padding-top: 40vh;
    font-size: 2.2rem;
    font-weight: 500;
    max-width: 800px;
  }
  .herotop p {
    font-size: 1.2rem;
    color: white;
    margin: 10px 1px;
    font-weight: 300;
  }
  .latestPosts {
    padding-top: 5vh;
  }
  .slider {
    margin: 0 5% 0 5%;
    overflow-x: scroll;
    gap: 20px;
    height: 45vh;
  }
  .slider .item {
    min-width: 90vw;
  }
  .slider .item img {
    min-width: 90vw;
    height: 30vh;
  }
  .information {
    margin-top: 3vh;
  }
  .information .newsletter {
    padding: 40px;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .newsletter form {
    display: block;
    justify-content: space-between;
  }
  .information p {
    font-size: 0.9rem;
  }
  .newsletterInput {
    margin-top: 20px;
    width: 100%;
  }
  .information button {
    margin-top: 20px;
  }
  input:focus::placeholder {
    font-size: 0.9rem;
  }

  footer {
    flex-direction: column;
    margin: 5vh 5vw;
    text-align: center;
  }
  footer div.footer-menu {
    flex-direction: column;
    gap: 25px;
    order: 2;
  }
  footer div.social-media {
    flex-direction: row;
    margin: 20px auto 40px auto;
  }
  footer p {
    order: 5;
    margin-top: 20px;
  }
}
