@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  color: #222222;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #f3f3f3;
}

header,
.herotop,
.information,
footer {
  padding: 0 10%;
}

.navLogo,
.topNav {
  margin-top: 6%;
}

.navLogo {
  text-decoration: none;
  color: white;
  font-family: Quicksand;
  font-weight: 600;
  font-size: 1.5rem;
  display: block;
  float: left;
}

.topNav {
  display: block;
  float: right;
}
.topNav a {
  font-size: 1.1rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
  margin-left: 10px;
  padding: 6px 16px;
  border-radius: 5px;
  letter-spacing: 1px;
}
.topNav a.active {
  color: #4542ff;
}
.topNav a.active:hover {
  pointer-events: none;
}
.topNav a:hover {
  background-color: #4542ff75;
  color: white;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: ease-in 0.1s;
}

.herotop {
  background-image: url(../images/herotop.jpg);
  background-size: cover;
  background-position: 50% 25%;
  height: 100vh;
}
.herotop h1 {
  margin: 0;
  padding-top: 22%;
  font-size: 3.7rem;
  font-weight: 500;
  max-width: 800px;
  color: white;
}
.herotop p {
  font-size: 1.5rem;
  color: white;
  margin: 20px 1px;
  font-weight: 200;
}
.herotop p span a {
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: 400;
}
.herotop p span a:hover {
  color: #ff9c8f;
  transition: ease-in 0.1s;
}
.herotop button {
  margin-top: 20px;
  color: white;
  font-size: 1.1rem;
  padding: 7px 17px;
  border: none;
  border-radius: 5px;
  background-color: #4542ff;
}
.herotop button:hover {
  background-color: #4542ff75;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: ease-in 0.1s;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
h2 span {
  float: right;
}
h2 span a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}

.latestPosts {
  padding-top: 5%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.latestPosts p button {
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: #222222;
  cursor: pointer;
  margin: 0 2px;
  display: inline-block;
  text-align: center;
  border-radius: 50px;
  line-height: 25px;
  padding: 5px;
  border: none;
  outline: none;
}
.latestPosts p button img {
  margin: -4px;
  padding-right: 8px;
  padding-left: 1px;
  opacity: 50%;
}

.slider {
  margin: 30px 10% 30px 10%;
  padding-bottom: 20px;
  height: 320px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  gap: 10px;
}

.slider .item {
  border-radius: 20px;
  height: 250px;
  min-width: 280px;
  max-width: 280px;
  margin: 0 2px 0px 0;
  padding-bottom: 20px;
  text-decoration: none;
}

.item .title {
  padding: 0px 15px;
}

.item .title p {
  font-weight: 500;
  font-size: 0.9rem;
}

.slider .item img {
  padding: 10px;
  width: 280px;
  height: 200px;
  border-radius: 20px;
}

.featured {
  background-image: url(../images/DSC02059.JPG);
  background-size: cover;
  background-position-y: 20%;
  background-color: #c4d1be;
  height: 400px;
  margin: 0 10%;
  border-radius: 15px;
}

.information {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.information .left {
  background-color: #c4d1be;
  border-radius: 15px;
  padding: 60px 50px;
  width: 64%;
}
.information .right {
  background-color: #cfdcf0;
  border-radius: 15px;
  padding: 30px 40px;
  height: 155px;
}
.information p {
  color: #222222;
  font-size: 1rem;
  font-weight: 300;
  max-width: 400px;
  margin-top: 20px;
}
.information h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.newsletterInput {
  border: none;
  border-radius: 7px;
  padding: 8px 10px;
  width: 230px;
  margin-right: 7px;
}
.information button {
  background-color: #4542ff;
  color: white;
  padding: 8px 15px;
  border-radius: 7px;
  border: none;
}
.form-error {
  display: none;
  color: rgb(49, 49, 255);
  font-size: 0.8rem;
  padding: 5px 2px;
}

footer {
  display: flex;
  padding-top: 10%;
  padding-bottom: 5%;
  justify-content: space-between;
}

footer div {
  display: inline-flex;
  gap: 25px;
}

footer p {
  font-size: 1rem;
  font-weight: 300;
}

footer a {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: #222222;
}

@media (max-width: 768px) {
  header,
  .herotop,
  .information,
  footer {
    padding: 0 5%;
  }
  .slider {
    margin: 0 5%;
    overflow-x: scroll;
  }
  .slider .item {
    min-width: 200px;
    margin: 0 30px 0 0;
  }
  .information .left {
    width: 100%;
  }
}
